.flex-container {
    border: black 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

#div_a{
    background-color: red;
    color: white;
    height: 100px;
    width: 100px;
    text-align: center;
    padding-top: 50px;
}

#div_b{
    background-color: blue;
    color: white;
    height: 100px;
    width: 100px;
    text-align: center;
    padding-top: 50px;
}

#div_c{
    background-color: green;
    color: white;
    height: 100px;
    width: 100px;
    text-align: center;
    padding-top: 50px;
}
