.flex-container {
    border: black 1px solid;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }

#div_a{
    background-color: red;
    color: white;
    height: 100%;
    width: 100%;
    text-align: center;
}

#div_b{
    background-color: blue;
    color: white;
    height: 100%;
    width: 100%;
    text-align: center;
}

#div_c{
    background-color: green;
    color: white;
    height: 100%;
    width: 100%;
    text-align: center;
}
